<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Project Amendment", class: 'btn btn-primary' } %>

<%= link_to 'Show', @project_extention, class: 'btn btn-primary' %> |
<%= link_to 'Back', project_extentions_path, class: 'btn btn-primary' %>
</div>