
<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Evaluators", class: 'btn btn-primary' } %>
<%= link_to 'Show', @evaluator, class: 'btn btn-primary' %> |
<%= link_to 'Back', evaluators_path, class: 'btn btn-primary' %>
</div>

