<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Funding Status", class: 'btn btn-primary' } %>

<%= link_to 'Show', @funding_status, class: 'btn btn-primary' %> |
<%= link_to 'Back', funding_statuses_path, class: 'btn btn-primary' %>
</div>