<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing CSO", class: 'btn btn-primary' } %>

<%= link_to 'Show', @institution, class: 'btn btn-primary' %> |
<%= link_to 'Back', institutions_path, class: 'btn btn-primary' %>
</div>