<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Reporting Type", class: 'btn btn-primary' } %>

<%= link_to 'Show', @sub_focus_area, class: 'btn btn-primary' %> |
<%= link_to 'Back', sub_focus_areas_path, class: 'btn btn-primary' %>
</div>

