<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Project Extention", class: 'btn btn-primary' } %>

<%= link_to 'Show', @project_amendment, class: 'btn btn-primary' %> |
<%= link_to 'Back', project_amendments_path, class: 'btn btn-primary' %>
</div>