<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Project Status", class: 'btn btn-primary' } %>

<%= link_to 'Show', @project_status, class: 'btn btn-primary' %> |
<%= link_to 'Back', project_statuses_path, class: 'btn btn-primary' %>
</div>