<div class="body">

<p>
  <strong>Name:</strong>
  <%= @project_status.name %>
</p>

<%= link_to 'Edit', edit_project_status_path(@project_status), class: 'btn btn-primary' %> |
<%= link_to 'Back', project_statuses_path, class: 'btn btn-primary' %>
</div>