<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Funder", class: 'btn btn-primary' } %>
<%= link_to 'Show', @funder, class: 'btn btn-primary' %> |
<%= link_to 'Back', funders_path, class: 'btn btn-primary' %>
</div>