<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Project Evaluation Type", class: 'btn btn-primary' } %>

<%= link_to 'Show', @project_evaluation_type, class: 'btn btn-primary' %> |
<%= link_to 'Back', project_evaluation_types_path, class: 'btn btn-primary' %>
</div>