<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Institution Type", class: 'btn btn-primary' } %>

<%= link_to 'Show', @institution_type, class: 'btn btn-primary' %> |
<%= link_to 'Back', institution_types_path, class: 'btn btn-primary' %>
</div>