<div class="body">
	<%= column_chart projects_by_focus_area_projects_path(focus_area: @focus_area.id) rescue nil %>
</div>

<div class="body">
	<%= column_chart projects_by_sub_focus_area_projects_path(sub_focus_area: @sub_focus_area.id) rescue nil %>
</div>

