<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Performance Report", class: 'btn btn-primary' } %>

<%= link_to 'Show', @performance_report, class: 'btn btn-primary' %> |
<%= link_to 'Back', performance_reports_path, class: 'btn btn-primary' %>
</div>