<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Program Area", class: 'btn btn-primary' } %>
<%= link_to 'Show', @program_area, class: 'btn btn-primary' %> |
<%= link_to 'Back', program_areas_path, class: 'btn btn-primary' %>
</div>