<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Focus Area", class: 'btn btn-primary' } %>
<%= link_to 'Show', @focus_area, class: 'btn btn-primary' %> |
<%= link_to 'Back', focus_areas_path, class: 'btn btn-primary' %>
</div>