<div class="body">
<p>
  <strong>Name:</strong>
  <%= @reporting_type.name %>
</p>

<%= link_to 'Edit', edit_reporting_type_path(@reporting_type), class: 'btn btn-primary' %> |
<%= link_to 'Back', reporting_types_path, class: 'btn btn-primary' %>
</div>