<div class="body">

<p>
  <strong>Name:</strong>
  <%= @institution_status.name %>
</p>

<%= link_to 'Edit', edit_institution_status_path(@institution_status), class: 'btn btn-primary' %> |
<%= link_to 'Back', institution_statuses_path, class: 'btn btn-primary' %>
</div>