<div class="body">
<%= render partial: 'form', layout: 'layouts/form_layout', locals: { title: "Editing Region", class: 'btn btn-primary' } %>

<%= link_to 'Show', @region, class: 'btn btn-primary' %> |
<%= link_to 'Back', regions_path, class: 'btn btn-primary' %>
</div>